 {% extends 'hopehands/layouts/main.html' %}
{% load static %}

{% block title %}
    Welcome to Hope Hands Foundation-Home page
{% endblock title %}
{% block content %}
<div class="image-container">
    <img src="{% static 'images/heroimage1.png' %}" class="heroimg" alt="cover image"/>
    <div class="content">
      <h1 class="fs-1 fw-bold">Together, We Can Change Lives.</h1>
      <P class="fs-4">Your kindness today can bring hope, health and hanppiness to someone in need.</P>
      <div class="text-center my-4">
        <button class="btn darkbluebutton fs-4 fw-medium" type="submit">Donate Now </button>
     <a type="button" href="{% url 'volunteer' %}">Become a Volunteer</a>


    </div>

    </div>
</div>

  <section class="my-5">
    <h2 class="text-center my-5 fs-4 fw-bold">Our Mission</h2>
    <p class="text-center fs-4">At HopeHands Foundation, our mission is to empower communities and transform lives through compassionate action and sustainable solutions. We are dedicated to providing essential resources, fostering education and, and promoting well-being for those facing adversity. Together we strive to build a brighter future, one hand at a time. </p>
  </section>
  <section class="my-5">
    <h2 class="text-center my-5 fs-4 fw-bold">Our Causes</h2>
    <div class="d-flex gap-4">

    <div>
        <img src="{% static 'images/cause1.png' %}" class="causeimg" alt="education image"/>
        <h3 class="fs-5 fw-semibold">Education for children</h3>
        <p class="causeparaw fs-6 lh-lg text-shadow">Providing quality education and resources to underprivileged children, ensuring they have the opportunity to succeed.</p>
    </div>
     <div>
        <img src="{% static 'images/cause2.png' %}" class="causeimg" alt="education image"/>
        <h3 class="fs-5 fw-semibold">Medical Support</h3>
        <p class="causeparaw fs-6 lh-lg">Providing quality education and resources to underprivileged children, ensuring they have the opportunity to succeed.</p>
    </div>
     <div>
        <img src="{% static 'images/cause3.png' %}" class="causeimg" alt="education image"/>
        <h3 class="fs-5 fw-semibold">Food and Shelter</h3>
        <p class="causeparaw fs-6 lh-lg">Providing quality education and resources to underprivileged children, ensuring they have the opportunity to succeed.</p>
    </div>
     <div>
        <img src="{% static 'images/cause4.png' %}" class="causeimg" alt="education image"/>
        <h3 class="fs-5 fw-semibold">Disaster Relief</h3>
        <p class="causeparaw fs-6 lh-lg">Providing quality education and resources to underprivileged children, ensuring they have the opportunity to succeed.</p>
    </div>
    </div>
    <div class="text-center my-4">
        <button class="btn darkbluebutton fs-4 fw-medium" type="submit">Donate </button>
        <button class="btn btn-secondary fs-4 fw-medium" type="submit">Learn More</button>


    </div>
  </section>
  <section class="my-5">
        <h2 class="text-center my-5 fs-4 fw-bold">Stories/Testimonials</h2>
        <div class="d-flex justify-content-around">
        <div class="card" style="width: 20rem;">
  <img src="..." class="card-img-top" alt="client image">
  <p class="fs-6 fw-semibold">Sophia Carter</p>
  <p>2023-04-15</p>
  <div class="d-flex">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  </div>
  <div class="card-body">
    <p class="card-text">HopeHands Foundation has truly made a difference in my life. Their support helped me get back on my feet during a difficult time.</p>
  </div>
</div>
    <div class="card" style="width: 20rem;">
  <img src="..." class="card-img-top" alt="client image">
  <p class="fs-6 fw-semibold">Ethan Benett</p>
  <p>2023-01-28</p>
  <div class="d-flex">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  </div>
  <div class="card-body">
    <p class="card-text">Volunteering with HopeHands has been an incredibly rewarding experience. Seeing the impact we make is truly inspiring.</p>
  </div>
</div>
    <div class="card" style="width: 20rem;">
  <img src="..." class="card-img-top" alt="client image">
  <p class="fs-6 fw-semibold">Lara Catherine</p>
  <p>2022-12-09</p>
  <div class="d-flex">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  </div>
  <div class="card-body">
    <p class="card-text">The dedication and compassion of HopeHands Foundation are unmatched. They are a beacon of hope for so many.</p>
  </div>
</div>
</div>

  </section>

{% endblock content %}
