<footer class="bg-body-secondary mt-5">
    <div class="d-flex justify-content-around mt-5 mb-2">
    <a href="{% url 'aboutus' %}" class="textdecoration-none">About Us</a>
    <a href="">Our Programs</a>
    <a href="">Volunteer</a>
    <a href="">Donate</a>
    <a href="">Contact</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="" class="me-4 text-reset"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="" class="me-4 text-reset"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="" class="me-4 text-reset">        <i class="fa fa-instagram" aria-hidden="true"></i>
</a>
        <a href="" class="me-4 text-reset">        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
</a>
        
        

    </div>
    <p class="text-center my-5">&copy;2024 HopeHands Foundation. All rights reserved</p>
</footer>